html, body {
  height: 100%;
  font-size: 16px;
}

nav.navbar {
  background: #fbfbfb;
  border: none;
  .navbar-brand img {
    height: 30px;
  }
}

img.forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.container img.bold_app_org_content_full {
  margin: 30px auto;
  max-width: 80%;
  display: block;
}

.homepage-template {

  h1 {
    margin: 10px 0 30px 0;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
  }

  h1 ~ h1 {
    margin-top: 60px;
  }


  h2 {
    font-size: 24px;
    font-weight: 200;
    margin-top: 30px;
  }

  header {
    height: 100vh;
    text-align: center;

    .jumbotron {
      background-color: #fbfbfb;
    }

    h1 {
      margin-top: 40px;
      border: none;
      span {
        display: block;
      }
    }

    a#learnmore {
      position: absolute;
      left: 50%;
      margin-left: -8em;
      width: 16em;
      bottom: 0;
      height: 8em;
      color: #333;
      text-decoration: none;
      text-transform: uppercase;
    }
    a#learnmore::after {
      display: block;
      margin-top: 10px;
      content: '';
      background: asset-url("bold_app_org/down.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 1.5em;
    }
  }

}

@media(min-width: $screen-sm-min) {
  .homepage-template {
    section.top {
      h1 {
        margin-top: 100px;
      }
    }
  }
}

footer {
  font-size: 14px;
  margin-top: 80px;
  background-color: #262626;
  border-top: 1px solid #333;
  color: #fff;

  .row {
    padding: 25px 0;
  }

  a {
    color: #fff;
  }

  img.bold-logo {
    max-height: 14px;
    padding-left: 5px;
    padding-bottom: 3px;
  }

}

