
%header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading= page['heading']
          %p.intro-text= page['description']

          %a.btn.btn-circle.page-scroll{href:'#features'}
            %i.fa.fa-angle-double-down.animated


%section#features.container.content-section
  .row
    .col-lg-8.col-lg-offset-2
      = page.body_html

%section#download.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h1 Download
      %p
        Bold is under active development, no formal releases have been made
        yet. You can always get the latest code on GitHub.
      %a.btn.btn-default.btn-lg{href:'https://github.com/bold-app/'}
        Bold on GitHub
